[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pm4py = "==2.2.32"
pandas = "*"
matplotlib = "*"
notebook = "*"

[dev-packages]

[requires]
python_version = "3.10"
